:root {
  --navbar-bg: #ffeb3b;
  --text-color: #333;
  --background-color: #fff;
}

body.dark-mode {
  --navbar-bg: #333;
  --text-color: #f1f1f1;
  --background-color: #121212;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  font-family: Arial, sans-serif;
}
